{{ 'landing-page.css' | asset_url | stylesheet_tag }}
{{ 'lp-shop-menu.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<style>
  .lpCollection {
    overflow: hidden;
  }
  
  .lpCollection .lpCollection--wrap {
    max-width: 1160px;
    margin: 0 auto;
    padding: 150px 35px 160px;
  }
  
  .lpCollection .lpCollection--ttl {
    font-family: ivymode, sans-serif;
    font-size: 150px;
    font-weight: 300;
    color: #fff;
    text-align: right;
    margin-bottom: 60px;
    margin-top: 0;
  }
  @media only screen and (min-width: 990px) {
    .lpCollection .lpCollection--cont .catList li:nth-child(even){
      margin-top: 100px;
    }
    .lpCollection .lpCollection--cont .catList li:nth-child(odd)::before{
      left: 20px;
      top: -30px;
      bottom: initial;
    }
    .lpCollection .lpCollection--cont .catList li:nth-child(even)::before{
      left: initial;
      right: -65px;
      bottom: 60px;
    }
  }
  @media only screen and (max-width: 989px) {
    .lpCollection .lpCollection--wrap {
      padding: 115px 0 0px;
    }
    .lpCollection .lpCollection--ttl {
      font-size: 55px;
      margin-bottom: 35px;
      padding-right: 20px;
      margin-bottom: 35px;
    }
    /* .lpCollection .lpCollection--cont .small-hide{
      display: none;
    } */
    .lpCollection .lpCollection--cont .collectionSwiper{
      padding-right: 20px;
      padding-left: 50px;
    }
    .lpCollection .lpCollection--cont .catList li::before{
      left: 20px;
      top: -35px;
      bottom: initial;
    }
  }
</style>

<div class="top_LP">
    <section class="section01">
        <div class="section01--wrap">
            <div class="sect01_flex">
                <div class="sect01_flex--item">
                    <figure>
                        <img
                            src="{{ 'lp_sect01_img01.png' | asset_url }}"
                            alt="Image"
                            width=""
                            height=""
                            loading="lazy"
                          >
                    </figure>
                </div>
                <div class="sect01_flex--item">
                    <figure>
                        <img
                            src="{{ 'august_logo.png' | asset_url }}"
                            alt="Image"
                            width=""
                            height=""
                            loading="lazy"
                          >
                    </figure>
                    <h2>August proposes traditional and<br>
                    orthodox beautiful silhouette designs <br>
                    created with luxurious materials<br>
                    in noble colors as daily luxury.</h2>
                    <a href="{{ 'collections/all' | url }}" class="btn--link btn--link__center">
                        <span>SHOP</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="lpCollection"> 
        <div class="lpCollection--wrap">
            <h3 class="lpCollection--ttl">CATEGORY</h3>
            <div class="lpCollection--cont"> 
                <ul class="catList small-hide">
                  {%- for collection in collections -%}
                    <li>
                      {%- if collection.image -%}
                        {%- assign collection_image = collection.image -%}
                      {%- elsif collection.products.first and collection.products.first.images != empty -%}
                        {%- assign collection_image = collection.products.first.featured_image -%}
                      {%- else -%}
                        {%- assign collection_image = blank -%}
                      {%- endif -%}
                        <a href="{{ collection.url }}">
                            <div>
                                <figure>
                                  <img
                                      src="{{ collection_image | img_url: '480x' }}"
                                      alt="Image"
                                      width=""
                                      height=""
                                      loading="lazy"
                                    >
                                </figure>
                                <h2>{{ collection.title }}</h2>
                            </div>
                        </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <div class="swiper collectionSwiper">
                  <ul class="swiper-wrapper catList">
                    {%- for collection in collections -%}
                      <li class="swiper-slide">
                        {%- if collection.image -%}
                          {%- assign collection_image = collection.image -%}
                        {%- elsif collection.products.first and collection.products.first.images != empty -%}
                          {%- assign collection_image = collection.products.first.featured_image -%}
                        {%- else -%}
                          {%- assign collection_image = blank -%}
                        {%- endif -%}
                          <a href="{{ collection.url }}">
                              <div>
                                  <figure>
                                    <img
                                        src="{{ collection_image | img_url: '480x' }}"
                                        alt="Image"
                                        width=""
                                        height=""
                                        loading="lazy"
                                      >
                                  </figure>
                                  <h2>{{ collection.title }}</h2>
                              </div>
                          </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section03">
        <div class="section03--wrap">
            <div class="section03--cont">
                <div class="textWrap">
                    <h3>SPRING/SUMMER<br>2023</h3>
                    <figure>
                        <img
                            src="{{ 'lp_sect03_img01.png' | asset_url }}"
                            alt="Image"
                            width=""
                            height=""
                            loading="lazy"
                          >
                    </figure>
                    <a href="{{ 'collections/all' | url }}" class="btn--link btn--link__center">
                        <span>SHOP</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer="defer"></script>
<!-- Initialize Swiper -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper(".collectionSwiper", {
      slidesPerView: 1.1,
      spaceBetween: 30,
       breakpoints: {
         440: {
          slidesPerView: 1.8,
          spaceBetween: 30
        },
        640: {
          slidesPerView: 2.8,
          spaceBetween: 30
        }
      }
    });
  });
</script>

{% schema %}
  {
    "name": "LP Top Part",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}