{{ 'landing-page.css' | asset_url | stylesheet_tag }}
<div class="top_LP">
    <section class="section05">
        <div class="section05__wrap">
            <div class="l-container">
                <div class="sect05-bg">
                    <img 
                      src="{{ section.settings.image | img_url: '2048x2048' }}"
                      alt="Image"
                      width=""
                      height=""
                      loading="lazy"
                    >
                </div>
                <p class="section05__title">CONCEPT</p>
               <figure>
                    <img 
                        src="{{ 'august_logoW.png' | asset_url }}" 
                        srcset="{{ 'august_logo.png' | asset_url }} 899w, {{ 'august_logoW.png' | asset_url }} 900w" 
                        alt="Image" 
                        loading="lazy" 
                        sizes="(max-width: 899px) 100vw, 50vw" 
                        width=""
                        height=""
                    />
                </figure>
                <p class="desc">{{ section.settings.text }}</p>
                <a href="{{ '/pages/concept' | link }}" class="btn--link btn--link__center">
                    <span>VIEW</span>
                </a>
            </div>
        </div>
    </section>
</div>

{% schema %}
  {
    "name": "Top Section 05",
    "settings": [
        {
            "type": "textarea",
            "label": "Text",
            "id": "text"
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}