{{ 'landing-page.css' | asset_url | stylesheet_tag }}

<div class="top_LP top_LP_M">
    <section class="section01">
        <div class="section01--wrap">
            <div class="sect01_flex">
                <div class="sect01_flex--item">
                
                </div>
                <div class="sect01_flex--item">
                    <figure>
                        <img
                            src="{{ 'august_logo.png' | asset_url }}"
                            alt="Image"
                            width=""
                            height=""
                            loading="lazy"
                          >
                    </figure>
                    <h2>{{ section.settings.text }}</h2>
                    <a href="{{ 'collections/all' | url }}" class="btn--link btn--link__center">
                        <span>SHOP</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="base">
        <div class="bcontent">
            <figure>
                <img
                
                    class="rightImage"
                    src="{{ section.settings.image | img_url: 'master' }}"
                    alt="Image"
                    width=""
                    height=""
                    loading="lazy"
                    >
            </figure>
        </div>
    </div>
</div>

{% schema %}
  { 
    "name": "Top Section 01",
    "settings": [
        {
            "type": "text",
            "label": "Text",
            "id": "text"
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}