{{ 'page-concept.css' | asset_url | stylesheet_tag }}

<div class="Concept-Page concept_M">
    <div class="Concept-Page--content">
      <div class="section05__wrap">
            <div class="l-container">
                <div class="sect05-bg">
                    <img 
                      src="{{ 'lp_sect05_img01.png' | asset_url }}"
                      alt="Image"
                      width=""
                      height=""
                      loading="lazy"
                    >
                </div>
                <p class="section05__title">BRAND CONCEPT</p>
               {% comment %} <figure>
                    <img 
                        src="{{ 'august_logoW.png' | asset_url }}" 
                        srcset="{{ 'august_logo.png' | asset_url }} 899w, {{ 'august_logoW.png' | asset_url }} 900w" 
                        alt="Image" 
                        loading="lazy" 
                        sizes="(max-width: 899px) 100vw, 50vw" 
                    />
                </figure> {% endcomment %}
                <p class="desc descPD">AUGUSTは、 贅沢な素材でつくる、</br> 伝統的であり正統派な美しいシルエットデザインをノーブルカラーに彩り、 </br>デイリーラグジュアリーとしてご提案します。
                </p>
                <p class="desc">August proposes traditional and orthodox beautiful silhouette </br> designscreated with luxurious materials in noble colors as daily </br>luxury.
                </p>
            </div>
        </div>
      <div class="section02">
      {% comment %}
        <span class="pc-only"></span>
      {% endcomment %}
        <div class="section02--wrap">
          <div class="section02--content">
            
            <figure class="left--image">
              <img src="{{ 'page_concept_sect01_img02.png' | asset_url }}" alt="" />
            </figure>
            <div class="right--desc">
              <h3 class="section02--title">BRAND NAME CONCEPT</h3>
              <p>
                AUGUSTの由来には、三つの意味を込めています。 </br>ブランドの柱となる伝統的、クラシカル、普遍的な、というキーワードを並べてみると、歴史の重みある堅苦しい美しさというイメージがどうしても強く前に出てしまい、エッセンスとして忘れずにいたい遊び心、童心にかえれるような心くすぐる可愛らしさ、現代を生きる上で必要とされる柔軟さ、といったようなニュアンスまでをも余すことなく表現するには、なにか気持ちを新たにするようなことからのパワーが必要だと感じ、“8月”という言葉にたどり着きました。 </br></br>8月は季節の変わり目として、大きな節目の季節。新しい毎日がはじまる、新たな気持ち溢れる8月。 </br>この、ブランドにかける想いをあますことなく忠実に再現するため、まず一つ目に“8月”というフレッシュワードを選びました。
              </p>
            </div>

            {% comment %}
            <span class="sp-only"></span>
            <figure class="august">
              <img src="{{ 'august_logo.png' | asset_url }}" alt="" />
            </figure>
            <div class="section02--left pc-only">
              オーガストの由来には、二つの意味を込めています。<br />
              一つは、ブランドの柱となる伝統的、クラシカル、普遍的な、というキーワードを並べてみると、歴史の重みある堅苦しい美しさというイメージがどうしても強く前に出てしまい、エッセンスとして忘れずにいたい遊び心、童心にかえれるような心くすぐる可愛らしさ、現代を生きる上で必要とされる柔軟さ、といったようなニュアンスまでをも余すことなく表現するには、なにか気持ちを新たにするような、パワーあるフレッシュなワードが必要だと感じました。
            </div>
            <div class="section02--center">
            </div>
            <div class="section02--right pc-only">
              <p>
                そこでわたしたちは“8月”という言葉にたどり着きました。8月は欧米では学期の変わり目のひとつ前の月、新しいことを始める前の新たな気持ち溢れるとてもフレッシュなイメージとパワー溢れる月だと捉え、ブランドにかける想いを余すことなく忠実に再現するため、“8月”というフレッシュワードを選びました。
              </p>
            </div>
            <div class="section02--wrap_sp-txt sp-only">
              オーガストの由来には、二つの意味を込めています。<br />
              一つは、ブランドの柱となる伝統的、クラシカル、普遍的な、というキーワードを並べてみると、歴史の重みある堅苦しい美しさというイメージがどうしても強く前に出てしまい、エッセンスとして忘れずにいたい遊び心、童心にかえれるような心くすぐる可愛らしさ、現代を生きる上で必要とされる柔軟さ、といったようなニュアンスまでをも余すことなく表現するには、なにか気持ちを新たにするような、パワーあるフレッシュなワードが必要だと感じました。<br />
              そこでわたしたちは“8月”という言葉にたどり着きました。8月は欧米では学期の変わり目のひとつ前の月、新しいことを始める前の新たな気持ち溢れるとてもフレッシュなイメージとパワー溢れる月だと捉え、ブランドにかける想いを余すことなく忠実に再現するため、“8月”というフレッシュワードを選びました。
            </div>
            {% endcomment %}

          </div>
        </div>
      </div>
      <div class="section03">
        <div class="section03--base">
          <div class="section03--base__img">
            <picture>
              <source
                srcset="{{ 'page_concept_sect01_img03_sp.png' | asset_url }}"
                media="(max-width: 899px)"
              />
              <img src="{{ 'page_concept_sect01_img03.png' | asset_url }}" alt="" />
            </picture>
            <p class="p1">
              私たちがAUGUSTを通して表現したいこと。それはいつの時代も永く愛され受け継がれてきた、上質で揺るがない“確かなもの”を大切に紡ぎたどり着いた“いま”を生きる自分自身の毎日のために、しなやかさと、ほんの少しのかわいらしさ、そして柔軟さをもプラスした、新しいかたちのデイリーラグジュアリーです。 </br>二つ目は、このような想いを忠実に纏い生きる、AUGUSTという架空の女性の名前から由来しています。歴史や伝統を重んじながら、確かな目利きでバランスよく新しいものも取り入れ、引き算しながらファッションを楽しむ彼女の姿はまさに、ブランドの目指す女性像です。
            </p>
          </div>
          <div class="section03--wrap">
            <p class="p2">
              そして最後に。 </br>一年のなかでたった一度、この”8月“には何にも左右されることなく、Special collection を発表できるブランドでありたいという想いを込めて。 </br>それはとびきりラグジュアリーなドレスを表現する8月もあれば、上質な眠りを誘うとろみのあるラウンジウエア　ベッドシーツをご提案する8月もあるかもしれません。 </br>また、時にはこのようなものとして存在する事柄だけではなく、AUGUSTを愛してくださる”あなた“へ　感謝の想いを伝えるべくして起こすアクションが、8月のSpecial collectionとなることもきっとあります。 </br></br></br>この瞬間からあなたにとってAUGUSTが、いつの日か特別なものとなりますように。
            </p>
          </div>
        </div>
      </div>
    </div>
</div>